<?xml version='1.0' encoding='utf-8'?>
<odoo>
    <data>
        <!-- omenur  -->
        <!-- This Menu Item will appear in the Upper bar, that's why It needs NO parent or action -->
        <menuitem 
            id="rumahsakit_menu_root" 
            name="Hospital" 
            sequence="0" 
            web_icon= "om_hospital,static/description/icon.png"/>

        <!-- This Menu Item Must have a parent -->
        <menuitem 
            id="pasien_menu_categ" 
            name="Pasien Details" 
            parent="rumahsakit_menu_root" 
            sequence="0"/>
            
        <!-- This Menu Item Must have a parent -->
        <menuitem 
            id="appointment_menu_categ" 
            name="Appointmen Menu" 
            parent="rumahsakit_menu_root" 
            sequence="0"/>

        <!-- This Menu Item Must have a parent -->
        <menuitem 
            id="konfigurasi_menu_categ" 
            name="Konfigurasi" 
            parent="rumahsakit_menu_root" 
            sequence="0"/>

        <!-- This Menu Item Must have a parent -->
        <menuitem 
            id="cancel_appointment_menu_categ" 
            name="Batalkan" 
            parent="appointment_menu_categ" 
            action="cdn_wz_batalapointment_action"
            sequence="0"/>
            

    </data>
    
</odoo>